## Crear conexión y tabla

In [1]:
import sqlite3

conexion = sqlite3.connect("/content/tienda.db")

cursor = conexion.cursor()

cursor.execute("CREATE TABLE PRODUCTOS (codigo INTEGER PRIMARY KEY, descripcion TEXT, precio REAL)")

## Insertar datos

In [4]:
cursor = conexion.cursor()
#cursor.execute("INSERT INTO PRODUCTOS VALUES(1,'Pantalla',90)")

lista = [(2, 'Teclado',30),(3, 'Raton', 10)]

sql = "INSERT INTO PRODUCTOS values (?,?,?)"

cursor.executemany(sql,lista)

conexion.commit()

## Ejecutar consultas

In [5]:
cursor.execute("SELECT * FROM PRODUCTOS")

productos = cursor.fetchall()

for producto in productos:
  print(producto)

(1, 'Pantalla', 90.0)
(2, 'Teclado', 30.0)
(3, 'Raton', 10.0)

In [6]:
cursor.execute("SELECT * FROM PRODUCTOS WHERE precio <50 ORDER BY codigo desc")

productos = cursor.fetchall()

for producto in productos:
  print(producto)

(3, 'Raton', 10.0)
(2, 'Teclado', 30.0)

In [8]:
cursor.execute("SELECT * FROM PRODUCTOS WHERE DESCRIPCION LIKE 'R%'")

productos = cursor.fetchall()

for producto in productos:
  print(producto)

(3, 'Raton', 10.0)

## Actualizar y elimiar datos

In [11]:
cursor.execute("UPDATE PRODUCTOS SET precio =50 WHERE descripcion = 'Raton'")

cursor.execute("DELETE FROM PRODUCTOS WHERE codigo = 1")

conexion.commit()

In [12]:
cursor.execute("SELECT * FROM PRODUCTOS")

productos = cursor.fetchall()

for producto in productos:
  print(producto)

(2, 'Teclado', 30.0)
(3, 'Raton', 50.0)

## Cerrar conexión

In [14]:
conexion.close()