# ELEMENTOS SINTÁCTICOS DEL LENGUAJES

## TIPOS DE DATOS

In [26]:
A=3
B='casa'
C = ' grande'
D= 9.234
E=True

print(B+C)

print(type(B))
print(type(D))
print(type(E))

casa grande
<class 'str'>
<class 'float'>
<class 'bool'>

## INPUT

In [ ]:
sumando1 = input("Introduzca el primer sumando: ")
sumando2 = input("Introduzca el segundo sumando: ")


print("Resultado: ", int(sumando1) + int(sumando2))

sumando1 = float(input("Introduzca el primer sumando: "))
sumando2 = float(input("Introduzca el segundo sumando: "))


print("Resultado: ", sumando1 + sumando2)

## PRINT

In [ ]:
print("Juan", "Jose", "Pedro", "Antonio", sep = ', ', end = '.')

## METODOS STRINGS

In [ ]:
texto = "Curso de Python"

print(texto.capitalize())
print(texto.isalpha())
print(texto.upper())
print(texto.lower())
print(texto.islower())

print(len(texto))
print(max(texto))
print(min(texto))

print(texto.replace('e','E'))
print(texto.split())

print("22/11/2022".split('/'))
datos= "22/11/2022".split('/')
dia = datos[0]
mes = datos[1]
año = datos[2]
print(dia)

## OPERADORES ARITMÉTICOS

In [ ]:
numero1 = 2
numero2 = 3

print(numero1 + numero2)

print(numero1 % numero2)

print(numero1 // numero2)

numero1 = numero1 + 1
numero1 += 1

print(numero1)

## OPERADORES DE COMPARACIÓN

In [ ]:
numero1 = 7
numero2 = 5

print("Menor:", numero1 < numero2)
print("Igual:", numero1 == numero2)
print("Diferente:", numero1 != numero2)

print("not:", not(numero1 < numero2))
print("and:", (numero1 < numero2) and (numero2 == 5))
print("or:", (numero1 < numero2) or (numero2 == 5))

## OPERADOR DE PERTENENCIA

In [ ]:
num1 = 6
num2 = 6
print("Mismo contenido?", num1 is num2) # True porque la variable contiene el numero

nombres1 = ['Juan', 'Maria']
nombres2 = ['Juan', 'Maria']
print("Mismo contenido?", nombres1 is nombres2) # False porque los objetos son diferentes

name1 = 'Jorge'
name2 = 'Jorge'
print("Mismo contenido?", name1 is name2) # True porque los str en Python son tipos basicos

print("in", 'Luis' in nombres1)
print("in", 'Maria' in nombres1)
print("not in", 'Luis' not in nombres1)