# INSTALAR PANDAS (TERMINAL)

In [ ]:
pip install pandas

# IMPORTAR PANDAS

In [2]:
import pandas as pd

In [4]:
serie1 = pd.Series([10, 6, 5, 8],index = ["Python","Java","Scala","C++"])

print(serie1)

Python    10
Java       6
Scala      5
C++        8
dtype: int64

In [6]:
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5})
print(s)

Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

In [7]:
s.size

3

In [9]:
serie1[:2]

Python    10
Java       6
dtype: int64

In [12]:
serie1[["Java","Scala"]]

Java     6
Scala    5
dtype: int64

In [13]:
serie1.sum()

29

In [14]:
serie1.mean()

7.25

In [17]:
serie1.max()
serie1.describe()

count     4.000000
mean      7.250000
std       2.217356
min       5.000000
25%       5.750000
50%       7.000000
75%       8.500000
max      10.000000
dtype: float64

In [18]:
serie1*2

Python    20
Java      12
Scala     10
C++       16
dtype: int64

In [19]:
print(serie1[serie1>6])

Python    10
C++        8
dtype: int64

In [22]:
print(serie1.sort_values(ascending=False))

Python    10
C++        8
Java       6
Scala      5
dtype: int64

In [ ]:
print(serie1.sort_index())

C++        8
Java       6
Python    10
Scala      5
dtype: int64

In [21]:
from math import log

serie1.apply(log)

Python    2.302585
Java      1.791759
Scala     1.609438
C++       2.079442
dtype: float64

In [24]:
serienan = pd.Series(["a","b","c",None, "d",None])

serienan.dropna()
serienan.fillna("Sin dato")

0    a
1    b
2    c
4    d
dtype: object

In [27]:
import pandas as pd

def calculos(dicc):
  notas = pd.Series(dicc)
  estadisticas = pd.Series([notas.min(), notas.max(), notas.mean(),notas.std()], index = ["Min","Max","Media","Desviación estandar"])
  return estadisticas

diccionario = {"Paco" : 7.5,"Carlos" : 3,"Angel" : 6.8,"Clara" : 9.6,"Pedro" : 2.3,"Laura" : 5}

estadisticas = calculos(diccionario)
print(estadisticas)

Min                    2.300000
Max                    9.600000
Media                  5.700000
Desviación estandar    2.792848
dtype: float64

# DATAFRAMES

In [ ]:
datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
         'edad':[18, 22, 20, 21],
         'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
         'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

df = pd.DataFrame(datos)

print(df)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [ ]:
df = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen', 20]], columns=['Nombre', 'Edad'])
print(df)

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesteroles.csv', sep=';', decimal=',')
print(df)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [30]:
df.shape

(14, 6)

In [31]:
df.head(5)

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [32]:
print(df)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [35]:
print(df.iloc[:2,3:5])

   peso  altura
0  85.0    1.79
1  65.0    1.73

In [36]:
print(df.loc[4:7,("peso","colesterol")])

   peso  colesterol
4  51.0       148.0
5  66.0       249.0
6  62.0       276.0
7  60.0         NaN

In [37]:
df["alturaencm"] = df["altura"]*100

In [38]:
print(df)

                             nombre  edad sexo   peso  altura  colesterol  \
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

    alturaencm
0        179.0
1        173.0
2        181.0
3        170.0
4        158.0
5        174.0
6        172.0
7        166.0
8        194.0
9        185.0
10       162.0
11       187.0
12       198.0
13       177.0

In [41]:
df.mean()

<ipython-input-41-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

edad           38.214286
peso           70.923077
altura          1.768571
colesterol    220.230769
alturaencm    176.857143
dtype: float64

In [ ]:
del df["edad"]
print(df)

                             nombre sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    M   65.0    1.73       232.0
2             Javier García Sánchez    H    NaN    1.81       191.0
3               Carmen López Pinzón    M   65.0    1.70       200.0
4              Marisa López Collado    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    H   62.0    1.72       276.0
7             Pilar Martín González    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    M   55.0    1.62       262.0
11       José María de la Guía Sanz    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    M   61.0    1.77       194.0

In [ ]:
print(df[(df["peso"]>80)&(df["altura"]>1.70)])

                             nombre sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    H   85.0    1.79       182.0
8              Pedro Gálvez Tenorio    H   90.0    1.94       241.0
12  Miguel Angel Cuadrado Gutiérrez    H  109.0    1.98       210.0

In [44]:
print(df.sort_index(ascending=False))

                             nombre  edad sexo   peso  altura  colesterol  \
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0

    alturaencm
13       177.0
12       198.0
11       187.0
10       162.0
9        185.0
8        194.0
7        166.0
6        172.0
5        174.0
4        158.0
3        170.0
2        181.0
1        173.0
0        179.0

In [45]:
print(df.dropna())

                             nombre  edad sexo   peso  altura  colesterol  \
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

    alturaencm
0        179.0
1        173.0
3        170.0
4        158.0
5        174.0
6        172.0
8        194.0
9        185.0
10       162.0
11       187.0
12       198.0
13       177.0

In [46]:
df = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesteroles.csv', sep=';', decimal=',')
import numpy as np

In [54]:
print(df.groupby(["sexo"]).agg(np.max))

                       nombre  edad   peso  altura  colesterol
sexo
H     Santiago Reillo Manzano    68  109.0    1.98       280.0
M              Rosa Díaz Díaz    53   65.0    1.77       262.0

In [56]:
datos = {'nombre':['María', 'Luis', 'Carmen'],
'edad':[18, 22, 20],
'Matemáticas':[8.5, 7, 3.5],
'Economía':[8, 6.5, 5],
'Programación':[6.5, 4, 9]}
df = pd.DataFrame(datos)
df1 = df.melt(id_vars=['nombre', 'edad'], var_name='asignatura', value_name='nota')
print(df1)

   nombre  edad    asignatura  nota
0   María    18   Matemáticas   8.5
1    Luis    22   Matemáticas   7.0
2  Carmen    20   Matemáticas   3.5
3   María    18      Economía   8.0
4    Luis    22      Economía   6.5
5  Carmen    20      Economía   5.0
6   María    18  Programación   6.5
7    Luis    22  Programación   4.0
8  Carmen    20  Programación   9.0

In [57]:
print(df1.pivot(index='nombre', columns='asignatura', values='nota'))

asignatura  Economía  Matemáticas  Programación
nombre
Carmen           5.0          3.5           9.0
Luis             6.5          7.0           4.0
María            8.0          8.5           6.5

In [58]:
df1 = pd.DataFrame({"Nombre":["Carmen", "Luis"], "Sexo":["Mujer", "Hombre"], "Edad":[22, 18]}).set_index("Nombre")
df2 = pd.DataFrame({"Nombre":["María", "Pedro"], "Sexo":["Mujer", "Hombre"], "Edad":[25, 30]}).set_index("Nombre")
df = pd.concat([df1, df2])
df

          Sexo  Edad
Nombre
Carmen   Mujer    22
Luis    Hombre    18
María    Mujer    25
Pedro   Hombre    30

In [62]:
df1 = pd.DataFrame({"Nombre":["Carmen", "Luis", "María"],  "Sexo":["Mujer", "Hombre", "Mujer"]})
df2 = pd.DataFrame({"Nombre":["María", "Pedro", "Luis"], "Edad":[25, 30, 18]})
df = pd.merge(df1, df2, on="Nombre",how="right")
print(df)

  Nombre    Sexo  Edad
0  María   Mujer    25
1  Pedro     NaN    30
2   Luis  Hombre    18