## MAP

## Lista

In [ ]:
numeros = [3,8,4,2,1]

def duplicar(numero):
  return numero*2

numerosdobles = list(map(duplicar, numeros))
print(numerosdobles)

## Diccionario

In [ ]:
alumnos = dict(Luis=8, Maria=9, Raul=7)

def sumarPunto(item):
  return item[0], item[1] + 1

nuevasnotas = dict(map(sumarPunto, alumnos.items()))

print(nuevasnotas)

# FILTER

## Lista

In [ ]:
numeros = [2,4,3,2,1,6,7]

def pares(numero):
  if numero%2 == 0:
    return True
  else:
    return False

numerospares = list(filter(pares, numeros))

print(numerospares)

## Diccionario

In [ ]:
alumnos = dict(Luis=8, Maria=9, Raul=7)

def menosdeocho(item):
  if (item[1] < 8):
    return True
  else:
    return False

menosdeocho = dict(filter(menosdeocho, alumnos.items()))

print(menosdeocho)

## Clase

In [ ]:
class Persona:

  def __init__(self, nombre, edad):
    self.nombre = nombre
    self.edad = edad
  
  def mostrar(self):
    print("Hola, soy {} y tengo {} aÃ±os".format(self.nombre, self.edad))

personas=[Persona("Juan", 20), Persona("Maria",30)]

def menosveinticinco(persona):
  if persona.edad < 25:
    return True
  else:
    return False

menosveinticinco = list(filter(menosveinticinco, personas))

for persona in menosveinticinco:
  persona.mostrar()

# REDUCE

## Lista

In [ ]:
from functools import reduce 

numeros = [3,4,2,1,3,4]

def sumar(resultado, num):
  return resultado + num

print("Suma: ", reduce(sumar,numeros))

In [ ]:
colores = ['rojo', 'verde', 'azul']

def concatenar(resultado, color):
  return resultado + "-" + color

print(reduce(concatenar,colores))

# LAMBDA

In [ ]:
def suma(a,b):
  return a+b

sumar = lambda a,b : a + b

suma(2,3)
sumar(2,3)

(lambda a,b : a + b)(4,5)

## Argumentos Variables

In [ ]:
(lambda *args: sum(args))(1,2,3,2,1)

(lambda **kwargs: sum(kwargs.values()))(a=1, b=2,c=3)

## MAP

In [ ]:
numeros = [3,8,4,2,1]
numerosdobles = list(map(lambda numero: numero*2, numeros))
print(numerosdobles)

alumnos = dict(Luis=8, Maria=9, Raul=7)
nuevasnotas = dict(map(lambda item: (item[0],item[1]+ 1), alumnos.items()))
print(nuevasnotas)

## FILTER

In [ ]:
numeros = [2,4,3,2,1,6,7]
numerospares = list(filter(lambda numero: numero%2 == 0, numeros))
print(numerospares)

alumnos = dict(Luis=8, Maria=9, Raul=7)
menosdeocho = dict(filter(lambda item: item[1]<8, alumnos.items()))
print(menosdeocho)

## REDUCE

In [ ]:
from functools import reduce 

numeros = [3,4,2,1,3,4]
print("Suma: ", reduce(lambda resultado, num: resultado + num,numeros))


colores = ['rojo', 'verde', 'azul']
print(reduce(lambda resultado, color: resultado + "-" + color,colores))